@import './variables.scss';

*{
    margin: 0; 
    font-family: $primaryfont;
    font-weight: $primaryWeight;

    img{
        object-fit: cover;
        width: 100%;
    }

    a{
        text-decoration: none;
    }
}

body{
    max-width: 1440px;
    margin: auto;

    header{
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 15px 0;

        h1{
            a{
                font-family: $h1font;
                font-size: $h1Size;
                color: $h1Color;
            }           
        }      
    }   
}
