// Fonts
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Pacifico&display=swap');

// Colors
$bg: rgba(255, 255, 255, 1);
$bgIntro: linear-gradient(100.62deg, #F5F7FA 0%, #C3CFE2 100%);
$label: linear-gradient(109.69deg, #667EEA 0%, #764BA2 100%);

$logoColor: rgba(255, 107, 107, 1);
$h2-footerColor: rgba(31, 41, 55, 1);

$linkNavbar: rgba(55, 65, 81, 1);
$linkFooter: rgba(209, 213, 219, 1);

$pColor:rgba(75, 85, 99, 1);
$copyrightColor: rgba(156, 163, 175, 1);

$borderCollapse: 1px solid rgba(229, 231, 235, 1);
$buttonSlider: rgba(255, 255, 255, 0.8);

$starColor: rgba(255, 215, 0, 1);

// Fonts
$h1font: "Pacifico", cursive;
$primaryfont: "Inter", sans-serif;

// Size
$labelSize: 12px;
$placeSize: 14px;
$linkSize: 16px;
$h3Size: 18px;
$primarySize: 20px;
$h1Size: 24px;
$h2SizeDetails: 30px;
$h2Size: 48px;

// Weight
$primaryWeight: 400;
$h2Weight: 700;
$h3Weight: 600;


// Bases

%container{
    max-width: 1440px;
    margin: auto;
}

%tags-base{
    display: flex;
    gap: 15px;
    padding: 0;

    li{
        color:$bg;
        background-image: $label;
        border-radius: 50px;       
    }
}

%button-arrow-base{
    border-style: none;
    border-radius: 50px;
    background-color: $bg;
    width: 40px;
    padding: 12px;
    cursor: pointer;
    position:absolute;
    background-color: $buttonSlider;
}