// Colors
$bg: rgba(255, 255, 255, 1);
$bgIntro: linear-gradient(100.62deg, #F5F7FA 0%, #C3CFE2 100%);
$label: linear-gradient(109.69deg, #667EEA 0%, #764BA2 100%);

$h1Color: rgba(255, 107, 107, 1);
$h2-footerColor: rgba(31, 41, 55, 1);

$linkNavbar: rgba(55, 65, 81, 1);
$linkFooter: rgba(209, 213, 219, 1);

$pColor:rgba(75, 85, 99, 1);
$copyrightColor: rgba(156, 163, 175, 1);

$borderCollapse: 1px solid rgba(229, 231, 235, 1);


// Fonts
$h1font: "Pacifico", cursive;
$primaryfont: "Inter", sans-serif;

// Size
$h1Size: 24px;
$h2Size: 48px;
$h3Size: 18px;
$primarySize: 20px;
$linkSize: 16px;
$placeSize: 14px;
$labelSize: 12px;
$h2SizeDetails: 30px;

// Weight
$primaryWeight: 400;
$h2Weight: 700;
$h3Weight: 600;


// Bases

%tags-base{
    display: flex;
    list-style: none;
    gap: 15px;
    padding: 0;

    li{
        color:$bg;
        background-image: $label;
        border-radius: 50px;       
    }
}