@import '../../styles/variables.scss';

#accomodations{
    padding: 50px;

    #cards{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 25px;
        max-width: 1210px;
        margin: auto;

        .card{
            border-radius: 16px;
            box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.1);


            img{
                border-radius: 16px 16px 0 0;
                height: 250px;
            }

            .infoZone{
                padding: 20px;
                display: grid;
                gap: 12px;

                h3{
                    font-weight: $h3Weight;
                    font-size: $primaryfont;
                }

                p{
                    font-size: $placeSize;
                    color: $pColor;

                    i{
                        margin-right: 5px;
                    }
                }

                .tags{
                    @extend %tags-base;

                    li{
                        padding: 5px 10px;
                        font-size:$labelSize;
                    }
                }

                .rating{
                    display: flex;

                    .star-yellow{
                        color:$starColor;
                    }

                    .star-empty{
                        color: $linkFooter;
                    }

                    #note{
                        color: $h2-footerColor;
                    }
                }
            }
        }
    }
}
// Tablet format (1024px-768px)
@media screen and (max-width: 1024px) {
    #accomodations{
        #cards{
            grid-template-columns: 1fr 1fr;
        }
    }
}
// Mobile format (768px-320px)
@media screen and (max-width: 768px) {
    #accomodations{
        #cards{
            grid-template-columns: 1fr;
        }
    }
}
