@import '../../styles/variables.scss';

#collapses{
    max-width: 850px;
    padding: 0 30px;

    .collapse{
        border-radius: 16px;
        border: $borderCollapse;
        padding: 16px;
        margin-top: 40px;

        div{
            display: flex;
            justify-content: space-between;

            h3{
                font-size: $linkSize;
                font-weight: $h3Weight;
            }

            button{
                border-style: none;
                background: $bg;
                cursor: pointer;   
            }

            .rotate{
                transform: rotate(180deg);
            }
        }     

        p{
            margin: 10px 0;
        }

        #equipment{
            margin: 10px 0;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 10px;
        }
    }
}

// Mobile format (768px - 320px)
@media screen and (max-width: 768px) {
    #collapses{
        .collapse{
            #equipment{
                grid-template-columns: 1fr;
            }
        }
    }   
}
