@import '../../styles/variables.scss';

#details{
    padding-bottom: 30em;
    max-width: 900px;
    margin: auto; 

    #slider{
        margin: 10px;
        display: flex;
        justify-content: center;
        align-items: center;

        img{
            height: 400px;
            margin: auto;
            position: relative;
        }
        div{
            #prev{
                @extend %button-arrow-base;
                left: 17%;
            } 

            #next{
                @extend %button-arrow-base;
                right: 17%;
            }
        }
    }
  

    #infos-details{
        display: grid;
        gap: 20px;
        padding: 30px;

        h2{
            font-size: $h2SizeDetails;
            font-weight: $h2Weight;
        }

        .tags{
            @extend %tags-base;

            li{
                padding: 10px 13px;
                font-size: $placeSize;
            }
        }

        .rating{
            display: flex;

            .star-yellow{
                color:$starColor;
            }

            .star-empty{
                color: $linkFooter;
            }       
        }

        #host{
            display: flex;
            align-items: center;
            gap: 20px;
            
            img{
                border-radius: 50px;
                width: 64px;
            }

            div{
                display:grid;
                gap: 7px;

                #identity{
                    font-weight: $h3Weight;
                    font-size: $linkSize;
                }

                p{
                    font-size: $placeSize;
                }
            }
        }
    }    
}

// Mobile format (1024px-768px)
@media screen and (max-width: 1024px) {
    #details{
        #slider{
            
            div{
                #prev{
                    left: 9%;
                } 

                #next{
                    right: 9%;
                }
            }
        }
    }
}

// Mobile format (768px-320px)
@media screen and (max-width: 768px) {
    #details{
        #slider{
            
            div{
                #prev{
                    left: 3%;
                } 

                #next{
                    right: 3%;
                }
            }
        }
    }
}