@import '../../styles/global.scss';
@import '../../styles/variables.scss';

#details{
    padding-bottom: 30em;
    max-width: 900px;
    margin: auto; 

    #slider{
        margin: 10px;
        display: flex;
        justify-content: center;
        align-items: center;

        img{
            height: 400px;
            margin: auto;
            position: relative;
        }
        div{
            button{
                border-style: none;
                border-radius: 50px;
                background-color: $bg;
                width: 40px;
                padding: 12px;
                position:absolute;
                cursor: pointer;

                .fa-arrow-left{
                    right: 400px;
                }
                .fa-arrow-right{
                    left: 400px;
                }
            }
        }
    }  

    #infos-details{
        display: grid;
        gap: 20px;

        h2{
            font-size: $h2SizeDetails;
            font-weight: $h2Weight;
        }

        ul{
            @extend %tags-base;

            li{
                padding: 10px 13px;
                font-size: $placeSize;
            }
        }

        #host{
            display: flex;
            align-items: center;
            gap: 20px;
            
            img{
                border-radius: 50px;
                width: 64px;
            }

            div{
                display:grid;
                gap: 7px;

                #identity{
                    font-weight: $h3Weight;
                    font-size: $linkSize;
                }

                p{
                    font-size: $placeSize;
                }
            }
        }
    }
    
}