@import '../../styles//variables.scss';

header{
    background-color: $bg;
    border-bottom: $borderCollapse;

    .container{
        @extend %container;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;      
        
        h1{
            a{
                font-family: $h1font;
                font-size: $h1Size;
                color: $h1Color;
            }           
        }
    }        
}