@import '../../styles/variables.scss';
@import '../../styles/global.scss';

a{
    color:$linkNavbar;
    font-family: $primaryfont;
    font-size: $linkSize;
    font-weight: $primaryWeight;
    margin-right: 10px;
}