@import '../../styles/variables.scss';

nav{
    a{
        color:$linkNavbar;
        font-size: $linkSize;
        margin-right: 20px;
    }

    button{
        display: none;
    }
}

// Mobile format (320px)
@media screen and (max-width: 768px) {
    nav{
        a{
            display:none
        }

        button{
            display: block;
            border-style: none;
            background-color: $bg;
            cursor: pointer;
        }
    }
    
}